@font-face {
    font-family: 'National Regular';
    src: url('~assets/fonts/NationalWeb-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'National ExtraBold';
    src: url('~assets/fonts/NationalWeb-Extrabold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url('~assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
    font-style: normal;
}