@font-face {
    font-family: 'National';
    src: url('~assets/fonts/NationalWeb-Regular.woff2') format('woff2'),
        url('~assets/fonts/NationalWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('~assets/fonts/NationalWeb-RegularItalic.woff2') format('woff2'),
        url('~assets/fonts/NationalWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('~assets/fonts/NationalWeb-Extrabold.woff2') format('woff2'),
        url('~assets/fonts/NationalWeb-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('~assets/fonts/NationalWeb-ExtraboldItalic.woff2') format('woff2'),
        url('~assets/fonts/NationalWeb-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Material Icons';
    src: url('~assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('~assets/fonts/MaterialIcons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



