@import "./bulma/utilities/_all.scss";
@import "./bulma/base/_all.scss";
@import "./bulma/components/_all.scss";
@import "./bulma/elements/_all.scss";
@import "./bulma/grid/_all.scss";
@import "./bulma/layout/_all.scss";

b {
  font-family: 'National ExtraBold' !important;
  font-weight: normal;
}