$section-padding: 4rem 1.5rem !default;
$section-padding-medium: 4rem 14rem !default;
$section-padding-medium2: 4rem 30rem !default;
$section-padding-large: 18rem 1.5rem !default;

.section {
  padding: $section-padding;

  // Responsiveness
  @include desktop {
    // Sizes
    &.is-medium {
      padding: $section-padding-medium;
    }

    &.is-large {
      padding: $section-padding-large;
    }
  }


}
